body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple  Color Emoji", "Segoe UI Emoji";
  padding: 10px;
  width: 300px;
  background-image: linear-gradient(#573BFF, #666BFC);
  color: #FFFFFF;
}
textarea {
  width: 89%;
  height: 80px;
  margin-bottom: 10px;
  background-color: #E9EAFF;
  color: #000000;
}

a:hover {
   text-decoration: underline;
}
 
a { 
   color: white;
   text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 15px 5px;
}

.soundButtonPlay {
 position: relative;
 cursor: pointer;
 font-size: 20px;
}

.soundButtonSave {
 position: relative;
 cursor: pointer;
 font-size: 20px;
}

#soundButtonsInput {
  position: relative;
  top:-65px;
  left:8px;
  float: right;
  width:10%;
}

#soundButtonsOutput {
  position: relative;
  top:-65px;
  left:8px;
  float: right;
  width:10%;
}

.bold {
  font-weight: bold;
}

button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  cursor: pointer;
}

#tools {
   text-align: center;
}

#credit {
   margin-top: 0.5em;
   text-align: center;
   font-size: 70%;
}

#randomIcon {
  transition: opacity 0.4s ease-in-out;
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
